/* this file contains the various styles for the application */
/* theme toggler styling */
.togglePadding {
  padding: 5px;
}
/* light mode styling */
.artistName {
  color: darkorchid;
}
 /* light theme link color */
a {
  color: rgb(49, 159, 255);
}
/* light theme link hover color */
a:hover {
  color: rgb(2, 115, 214);
}
/* dark mode theme section */
.darkModeTheme {
  background-color: rgb(23, 23, 21);
  min-height: 100vh;
  height: 100%;
  color: lightslategray;
}
/* dark mode theme card */
.darkModeTheme .card {
  background-color: rgb(110, 110, 126);
  color: rgb(228, 228, 228);
}
/* dark mode theme artist name */
.darkModeTheme .artistName {
  color: rgb(241, 129, 241);
}
/* dark mode theme link */
.darkModeTheme a {
  color: rgb(214, 199, 205);
}
/* dark mode theme hover */
.darkModeTheme a:hover {
  color: rgb(238, 245, 240);
}
/* dark mode theme input */
.darkModeTheme .inputOne {
  background-color: rgb(110, 108, 143);
  color: rgb(244, 217, 250);
}
/* dark mode theme placeholder text */
.darkModeTheme .inputOne::placeholder {
  color: white;
}
/* dark mode theme submit button */
.darkModeTheme .submitBtn {
  background-color: rgb(34, 0, 156);
  color: rgb(255, 255, 255);
}
/* dark mode theme loading animation */
.darkModeTheme .loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #424242; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s ease-in-out infinite;
  margin: auto;
  box-shadow:
  0 0 10px 5px #fff,  /* inner white */
  0 0 25px 15px #f0f, /* middle magenta */
  0 0 45px 22px #0ff; /* outer cyan */
}
/* submit button container styling */
.submitBtnContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
}
/* submit button styling */
.submitBtn {
  margin: 7px;
}
/* input styling for search bar */
.inputOne {
  border-radius: 35px;
  margin-top:75px;
  border-width: .5px;
  border-color: grey;
  padding: 7px;
}
/* entire search bar div */
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 35px;
}
/* no search results styling */
.noResultsText {
  width: 275px;
  text-align: center;
  margin: auto;
}
/* loading styling */
.loadingText {
  width: 75px;
  margin: auto;
  justify-content: center;
  margin-top:25px;
}
/* darkmode loading styling */
.darkModeTheme .loadingText {
  color:white;
  width: 75px;

  justify-content: center;
  margin: auto;
  margin-top:25px;
}
/* loader animation styling */
.loader {
  background-color: #000;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #424242; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s ease-in-out infinite;
  margin: auto;
  box-shadow:
  0 0 10px 5px #000,  /* inner white */
  0 0 25px 15px rgb(87,32,112), /* middle magenta */
  0 0 45px 22px rgb(177,176,176); /* outer cyan */
}
/* loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* error message styling */
.error{
  width:150px;
  margin:auto;
  font-size:12px;
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding:5px;
  border-radius:5px;
  justify-content: center;
  box-shadow:
  0 0 20px 10px #000,  /* inner white */
  0 0 50px 30px rgb(87, 32, 112), /* middle magenta */
  0 0 70px 45px rgb(177, 176, 176); /* outer cyan */

}
/* dark mode error message styling */
.darkModeTheme .error{
  width:150px;
  margin:auto;
  font-size:12px;
  color:rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  padding:5px;
  border-radius:5px;
  justify-content: center;
  box-shadow:
  0 0 20px 10px #fff,  /* inner white */
  0 0 50px 30px #f0f, /* middle magenta */
  0 0 70px 45px #0ff; /* outer cyan */
}
/* swaying animation for loader and error message */
@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,7%,0) scale3d(1.02,1,1);}
  100% {transform: translate3d(0,10%,0) scale3d(1,1,1);}
}
/* swaying animation class for loader and error message */
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}