.darkModeTheme {
  background-color: rgb(23, 23, 21);
  min-height: 100vh;
  height: 100%;
}

.darkModeTheme .card {
  background-color: rgb(110, 110, 126);
  color: rgb(228, 228, 228);
}
.darkModeTheme {
  color: lightslategray;
}

.darkModeTheme .artistName {
  color: rgb(241, 129, 241);
}

.darkModeTheme a {
  color: rgb(214, 199, 205);
}

.darkModeTheme a:hover {
  color: rgb(238, 245, 240);
}

.darkModeTheme .inputOne {
  background-color: rgb(110, 108, 143);
  color: rgb(244, 217, 250);
}

.darkModeTheme .inputOne::placeholder {
  color: white;
}
.darkModeTheme .submitBtn {
  background-color: rgb(34, 0, 156);
  color: rgb(255, 255, 255);
}

/* light mode theme */
.submitBtnContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
}
.submitBtn {
  margin: 7px;
}
.inputOne {
  border-radius: 35px;
  border-width: 1px;
  border-color: grey;
  padding: 7px;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 35px;
}

.togglePadding {
  padding: 5px;
}
.artistName {
  color: darkorchid;
}

a {
  color: rgb(49, 159, 255);
}

a:hover {
  color: rgb(2, 115, 214);
}

.noResultsText {
  width: 275px;
  text-align: center;
  margin: auto;
}

.loadingText {
  width: 275px;
  text-align: center;
  margin: auto;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #424242; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s ease-in-out infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
